.aboutus {
  text-align: center;
  margin-left: 30em;
  margin-right: 30em;
  background-color: rgba(102, 102, 102, 0.4);
  border-radius: 0.8em;
  font-family: 'Poiret One', cursive;
  font-size: 10px;
  color: white;
  text-shadow: 1px 0px 11px;
  padding: 1em;
}

body {
  background: url("../../assets/spring-in-garden.jpg") no-repeat center;
  background-size: cover;
  width: 96em;
  height: 42.75em;
}
