body {
    background: url("../../assets/logo2.jpg") no-repeat center;
    background-size: cover;
    width: 95em;
    height: 43em;
    opacity: 0.7;
    background-color: rgba(83, 82, 70, 0.15);
    /* padding: 3.3em;
    border: solid white 0.2em;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px rgb(255, 136, 23);
    margin-top: 6em; 
    height: 100%; */
}

.font {
   color:rgb(255, 242, 65);
   text-shadow: black 1px 0px 10px;
}

.text {
    margin-top: -5em;
    margin-left: 70em;
    background-color: rgba(83, 82, 70, 0.05);
    padding: 2em;
    border-radius: 1em;
}